.logo {
  filter: hue-rotate(90deg);
  animation: hue 10s ease-in-out alternate infinite;

  @media (prefers-reduced-motion: reduce) {
    animation: none;
  }
}

@keyframes hue {
  from {
    filter: hue-rotate(90deg);
  }

  to {
    filter: hue-rotate(270deg);
  }
}