.form_radio_group {
    display: inline-block;
    overflow: hidden;
}

.form_radio_group-item {
    display: inline-block;
    float: left;
}

.form_radio_group input[type=radio] {
    display: none;
}

.form_radio_group label {
    display: inline-block;
    cursor: pointer;
    padding: 0px 15px;
    line-height: 34px;
    border: 1px solid #999;
    border-right: none;
    user-select: none;
}

.form_radio_group .form_radio_group-item:first-child label {
    border-radius: 6px 0 0 6px;
}

.form_radio_group .form_radio_group-item:last-child label {
    border-radius: 0 6px 6px 0;
    border-right: 1px solid #999;
}

/* Checked */
.form_radio_group input[type=radio]:checked+label {
    background: #ffe0a6;
}

/* Hover */
.form_radio_group label:hover {
    color: #666;
}

/* Disabled */
.form_radio_group input[type=radio]:disabled+label {
    background: #efefef;
    color: #666;
}