.tooltip {
    position: relative;

    &:hover .tooltip__text {
        display: block;
    }
}

.tooltip__text {
    position: absolute;
    text-align: left;
    display: none;
    left: 0;
    padding: 4px;
    width: 140px;
    background-color: #fff;
    border-radius: 6px;
    font-size: 12px;
    margin-top: 5px;
    box-shadow: 1px 1px 3px 1px #4d4d4dd4;
    z-index: 10;
}