.App {
  background-color: #282c34;
  min-height: 100vh;
  text-align: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.logo {
  filter: hue-rotate(90deg);
  animation: hue 10s ease-in-out alternate infinite;
}

@media (prefers-reduced-motion: reduce) {
  .logo {
    animation: none;
  }
}

@keyframes hue {
  from {
    filter: hue-rotate(90deg);
  }
  to {
    filter: hue-rotate(270deg);
  }
}

.container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0.5rem;
}

.hamburger {
  display: grid;
  grid-template: auto 1fr auto / 1fr; /* hamburger :) */
  row-gap: 1rem;
  min-height: inherit;
}

.btn {
  @apply text-lg py-2 px-4 font-semibold rounded-lg shadow-md text-white;
}

.time-picker-cell__input {
  --p: 0.5rem;
  
  border-radius: 5px;
  font-size: 8rem;
  max-width: calc(2ch + 2 * var(--p));
  padding: var(--p);
  background-color: black;
}

.time-picker-cell__arrow {
  border-radius: 5px;
  font-size: 1rem;
  background-color: #474d5a;
}

.time-picker-cell__arrow:hover {
  background-color: #383c44;
  color: #c5c5c5;
}